// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/
$primary: #84150A;
// Some example variables that you can uncomment:

// Enabling shadows and gradients
$enable-shadows: true;
// $enable-gradients: true;

// Changing the body background and text
$body-bg: #F7EECD;
// $body-color: #151417;

// Changing the border radius of buttons
$border-radius: 3px;

// Changing the theme colors
//$primary: #202f41;
$secondary: #D65E29;
$success: #359D68;
$info: #007B88;
$warning: #BD7F04;
$danger: #820534;
//$light: #dfe6ee;
//$dark: #0f1319;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
 "temple": #d9fbf0
);
